body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
  /* width: 100%; */
}

.site-layout-background {
  margin: 0;
}

.main-container {
  width: 100%;
  height: 100%;
}


.my-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: radial-gradient(#0f4c81, transparent)  !important;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark, .ant-menu.ant-menu-dark .ant-menu-sub {
  background: radial-gradient(#5FA1DB, transparent)  !important;
  border-radius: 10px;
}
.ant-btn {
  border-radius: 10px;
}
.ant-typography {
  color: #e0e0e0;
}
.ant-typography h1, h1.ant-typography {
  color: #e0e0e0;
}
.ant-typography h2, h2.ant-typography {
  color: #e0e0e0;
}
.ant-typography p, div.ant-typography {
  font-size: 20px !important;
}
.ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover {
  font-weight: bold;
}
.ant-badge {
  color: #fff;
}
.ant-modal-title {
  font-size: 20px !important;
  font-weight: bold !important;
}
.ant-card-bordered {
  border: 0px;
}
.ant-table-expanded-row ant-table-expanded-row-level-1 {
  transition-duration: 1s;
}
.ant-page-header-content {
  padding-top: 0px;
}