.personal-setting-actionBar {
  margin-right: 10px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}
.ant-descriptions-header {
  margin-left: 24px;
  margin-top: 10px;
}
.ant-descriptions-title {
  font-size: 22px;
}
.ps-topBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
.ps-infoContainer {
  display: flex;
  align-items: center;
}
.ps-statistical {
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px 1px #efefef;
}
.ps-info-username {
  font-size: 24px;
  font-weight: 600;
  margin-left: 30px;
}
.ps-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.ps-FormItem {
  width: 400px;
  margin-left: 10px;
}