/* .ant-layout, .ant-layout * {
  position: relative;
} */
.noPass-reason-input {
  position: absolute;
  right: 0px;
  width: 300px;
}
.expandedRowImg {
  display: flex;
  align-items: center;
}
.expandedContainer {
  display: flex;
  align-items: center;
}